WebContent/wsdl/CalSerice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://jmrserveice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://jmrserveice" xmlns:intf="http://jmrserveice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://jmrserveice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getID">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getIDResponse">
    <complexType>
     <sequence>
      <element name="getIDReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="hello">
    <complexType>
     <sequence>
      <element name="msg" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloResponse">
    <complexType>
     <sequence>
      <element name="helloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getIDRequest">

      <wsdl:part element="impl:getID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIDResponse">

      <wsdl:part element="impl:getIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloRequest">

      <wsdl:part element="impl:hello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloResponse">

      <wsdl:part element="impl:helloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalSerice">

      <wsdl:operation name="getID">

         <wsdl:input message="impl:getIDRequest" name="getIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIDResponse" name="getIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hello">

         <wsdl:input message="impl:helloRequest" name="helloRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloResponse" name="helloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalSericeSoapBinding" type="impl:CalSerice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalSericeService">

      <wsdl:port binding="impl:CalSericeSoapBinding" name="CalSerice">

         <wsdlsoap:address location="http://192.168.0.161:7200/JMR_SERVICE/services/CalSerice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
